*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --shadow: #171717;
    --red: #F93535;
    --blue: #5976DE;
    --green: #008000;
    --platium: #EAEAEA;
    --estrela: #ceaf00;
    --roxo: #8f038f;
    --laranja: #ff7200;
    --grey: #808080;
    --marron: #4b3029;
}

